<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="eas:download" value="eas-download-queue"/>
    <add key="eas:storage" value="eas-stroage-container"/>
    <add key="eas:normalize" value="eas-normalize-queue"/>
    <add key="eas:onerror" value="eas-onerror-queue"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName={account};AccountKey={key};BlobEndpoint={Blob Endpoint};TableEndpoint={Table Endpoint};QueueEndpoint={Queue Endpoint};FileEndpoint={File Endpoint}"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>