################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/src/.vs
*.nupkg
*.user
/src/Lemon.Transform.Tests/bin
/src/Lemon.Transform.Tests/obj
/src/Lemon.Transform.Extension/obj
/src/Lemon.Transform.Extension/bin
/src/DataFlowDemo/bin
/src/DataFlowDemo/obj
/src/Lemon.Data.Core/bin
/src/LemonDemo/obj
/src/LemonDemo/bin
/src/Lemon.Data.Core/obj
/src/Lemon.Data.Core/bin
/src/Lemon.Data.IO/bin
/src/Lemon.Data.IO/obj
