################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/src/.vs
*.nupkg
*.user
/src/Lemon.Transform.Tests/bin
/src/Lemon.Transform.Tests/obj
/src/DataFlowDemo/bin
/src/DataFlowDemo/obj
/src/Lemon.Data.Core/bin
/src/LemonDemo/obj
/src/LemonDemo/bin
/src/Lemon.Data.Core/obj
/src/Lemon.Data.Core/bin
/src/Lemon.Data.IO/bin
/src/Lemon.Data.IO/obj
/src/Lemon.Data.IO.Tests/bin
/src/Lemon.Data.IO.Tests/obj
/src/Lemon.Data.IO.Azure/obj/Debug
/src/Lemon.Data.IO.Azure/bin/Debug
/src/Lemon.Data.IO.Azure/obj/Release
/src/Lemon.Data.IO.Azure/bin/Release
/src/Lemo.Data.Core.Tests/obj/Debug
/src/Lemo.Data.Core.Tests/bin/Debug
/src/Lemon.Data.MongoDB/obj/Debug
/src/Lemo.Data.Core.Tests/obj/Release
