<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="eas:download" value="eas-download-queue"/>
    <add key="eas:storage" value="eas-stroage-container"/>
    <add key="eas:normalize" value="eas-normalize-queue"/>
    <add key="eas:onerror" value="eas-onerror-queue"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=lemonpages;AccountKey=KniVFDriSypBkdxVIjwsEX9C4Q9k1gT/kK3KTJFXvSJIt+QIcx9+McpUIo+ZveaSDNzsKrQm7NA32LukaPcU0A==;BlobEndpoint=https://lemonpages.blob.core.windows.net/;TableEndpoint=https://lemonpages.table.core.windows.net/;QueueEndpoint=https://lemonpages.queue.core.windows.net/;FileEndpoint=https://lemonpages.file.core.windows.net/"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="mongodb" connectionString="mongodb://app-svr.cloudapp.net:27017"/>-->
    <add name="mongodb" connectionString="mongodb://localhost:27017"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>